backend:
  build: ./backend/
  env_file: ./backend/.env
  ports:
    - "8000:8000"
  volumes:
    - ./backend:/app
  networks:
    - app-network
  depends_on:
    db:
      condition: service_healthy
    redis:
      condition: service_started
  command: >
    sh -c "echo 'Ожидание базы данных...' &&
           sleep 15 &&
           echo 'Принудительное создание миграций...' &&
           python manage.py makemigrations users --noinput &&
           python manage.py makemigrations instruments --noinput &&
           python manage.py makemigrations --noinput &&
           echo 'Применение миграций...' &&
           python manage.py migrate &&
           echo 'Сбор статики...' &&
           python manage.py collectstatic --noinput &&
           echo 'Запуск сервера...' &&
           gunicorn --workers 3 --threads 4 --bind 0.0.0.0:8000 --timeout 120 --max-requests 1000 --max-requests-jitter 100 AeroToolKit.wsgi:application"

photo_server:
  build: ./photo_server/
  env_file: ./photo_server/.env
  ports:
    - "8001:8000"
  volumes:
    - ./photo_server:/app
    - ./photo_server/media:/app/media
  networks:
    - app-network
  depends_on:
    - backend
    - redis
  command: >
    sh -c "echo 'Ожидание основного бэкенда и Redis...' &&
           sleep 25 &&
           echo 'Создание миграций...' &&
           python manage.py makemigrations --noinput &&
           echo 'Применение миграций...' &&
           python manage.py migrate &&
           echo 'Создание папки для временных файлов...' &&
           mkdir -p /app/media/temp_uploads &&
           echo 'Сбор статики...' &&
           python manage.py collectstatic --noinput &&
           echo 'Запуск фото сервера...' &&
           gunicorn --workers 4 --threads 2 --bind 0.0.0.0:8000 --timeout 90 --max-requests 500 image_service.wsgi:application"
