{% extends 'base.html' %}
{% load instruments_filters %}
{% load thumbnail %}
{% block title %}
  Пост {{ instrument.text|truncatechars:30 }}{% endblock %}
  {% block content %}
    <main>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">Дата обработки изображения: <span>{{ instrument.pub_date|date:"d.m.Y в H:i:s" }}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Сотрудник: <span>{{ instrument.employee.username }}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Количество записей:<span>{{ instrument.employee.instruments.count }}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'instruments:profile' instrument.employee.username %}">Все записи сотрудника</a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9" {
          word-wrap: break-word;
          }>
          {% thumbnail instrument.image "960x339" upscale=False as im %}
          <a href="{{ instrument.image.url }}" target="blank">
            <img class="card-img my-2" src="{{ im.url }}" style="max-width: 66%; height: auto;">
          </a>
        {% endthumbnail %}

        <!-- Блок информации о распознавании -->
        <div class="recognition-info mb-4 p-3 border rounded">
          {% with detected_count=instrument.text|extract_detected_count_filter %}
            <p class="text-success mb-1">
              <strong>Планируемое количество инструментов:</strong> {{ instrument.expected_objects|default:"11" }}
            </p>
            <p class="text-success mb-1">
              <strong>Распознанное моделью количество инструментов:</strong> {{ detected_count }}
            </p>
            {% if detected_count == instrument.expected_objects %}
              <p class="text-success mb-0">
                <strong>Количество инструментов совпадает</strong>
              </p>
            {% else %}
              <p class="text-danger mb-0">
                <strong>Количество инструментов не совпадает</strong>
              </p>
            {% endif %}
          {% endwith %}
        </div>
        {{ instrument.text|linebreaksbr }}
        <br>
        <br>
        {% if user == instrument.employee %}
                <a class="btn"
             style="background-color:rgb(17, 116, 34);
                    color: white"
             href="{% url 'instruments:instrument_edit' instrument.id %}">Редактировать запись</a>
          <a class="btn btn-danger" href="{% url 'instruments:instrument_delete' instrument.id %}">Удалить запись</a>
        {% endif %}
      </article>
    </div>
  </main>
{% endblock %}
