{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}
  Пост {{ instrument.text|truncatechars:30 }}{% endblock %}
  {% block content %}
    <main>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">Дата и время обработки изображения: <span>{{ instrument.pub_date|date:"d.m.Y в H:i:s" }}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Сотрудник: <span>{{ instrument.employee.get_full_name }}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Количество записей:<span>{{ instrument.employee.instruments.count }}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'instruments:profile' instrument.employee.username %}">Все записи сотрудника</a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9" {
          word-wrap: break-word;
          }>
          {% thumbnail instrument.image "960x339" upscale=False as im %}
          <a href="{{ instrument.image.url }}" target="blank">
            <img class="card-img my-2" src="{{ im.url }}" style="max-width: 66%; height: auto;">
          </a>
        {% endthumbnail %}
        <br>
        {{ instrument.text|linebreaksbr }}
        {% if user.id == instrument.employee.id %}
          <br>
          <br>
          <a class="btn btn-primary" href="{% url 'instruments:instrument_edit' instrument.id %}">редактировать запись</a>
        {% endif %}
      </article>
    </div>
  </main>
{% endblock %}
