{% load thumbnail %}
<article>
  <ul>
    {% if not hide_employee_links %}
      <li>
        Автор: {% firstof instrument.employee.get_full_name instrument.employee.username %}
        <a href="{% url 'instruments:profile' instrument.employee.username %}">все записи инструментов этим сотрудником</a>
      </li>
    {% endif %}
    <li>Дата записи: {{ instrument.pub_date|date:"d E Y" }}</li>
  </ul>
  <p>
    {% thumbnail instrument.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  {{ instrument.text|linebreaksbr }}
</p>
<a href="{% url 'instruments:instrument_detail' instrument.pk %}">подробная информация о записи</a>
</article>
{% if instrument.group and not hide_group_link %}
  <a href="{% url 'instruments:group_instruments' instrument.group.slug %}">все записи группы инструментов</a>
{% endif %}
{% if not forloop.last %}<hr>{% endif %}
<!-- под последним постом нет линии -->
