{% load instruments_filters %}
{% load thumbnail %}
<article>
    {% thumbnail instrument.image "960x339" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}" style="width: 10%; height: 10%;">
    {% endthumbnail %}
    <!-- Блок информации о распознавании -->
    <div class="recognition-info">
        <div class="text-success"><strong>Планируемое количество инструментов:</strong> {{ instrument.expected_objects }}</div>
        <div class="text-success"><strong>Распознанное моделью количество инструментов:</strong> {{ instrument.text|extract_detected_count_filter }}</div>
        {% if instrument.text|extract_detected_count_filter == instrument.expected_objects %}
        <div class="text-success"><strong>Количество инструментов совпадает</strong></div>
        {% else %}
        <div class="text-danger"><strong>Количество инструментов не совпадает</strong></div>
        {% endif %}
    </div>
    Сотрудник: <strong>{% firstof instrument.employee.get_full_name instrument.employee.username %}</strong><br>
    Локальное время (сервера AeroToolKit) получения изображения: <strong>{{ instrument.pub_date|date:"d.m.Y H:i:s" }}</strong><br>
    <a href="{% url 'instruments:profile' instrument.employee.username %}">Все записи инструментов сотрудником</a><br>
    <a href="{% url 'instruments:instrument_detail' instrument.pk %}">Подробная информация о записи</a><br>
</article>
{% if not forloop.last %}<hr>{% endif %}
