<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h2>Технологии, реализованные  в проекте</h2>
<article class="col-12 col-md-9">
    <p><strong>1. Django Backend Architecture</strong> - два независимых сервера на Django с ORM, административной панелью и системой аутентификации</p>
    <p><strong>2. Server-Side Rendering</strong> - генерация HTML на стороне серверов с использованием Django Template Language и стилизацией Bootstrap</p>
    <p><strong>3. REST API Development</strong> - полнофункциональное REST API на Django REST Framework с токенной аутентификацией</p>
    <p><strong>4. Cross-Server Data Integration</strong> - автоматизированная система обмена данными между фотосервером и основным приложением AeroToolKit с JSON-форматированием</p>
    <p><strong>5. Automated API Documentation</strong> - интерактивная документация API с использованием Swagger/OpenAPI (drf-yasg)</p>
    <p><strong>6. Docker Containerization</strong> - изолированная среда развертывания приложений через Docker-контейнеры</p>
    <p><strong>7. Performance Monitoring</strong> - инструменты отладки и оптимизации производительности с Django Debug Toolbar</p>
    <p><strong>8. Data Storage Infrastructure</strong> - надежное хранение записей в изолированной СУБД PostgreSQL</p>
    <p><strong>9. Computer Vision Integration</strong> - автоматическое распознавание объектов на изображениях моделью компьютерного зрения YOLO перед их сохранением в базу данных</p>
    <p><strong>10. Quality Control System</strong> - гибкая настройка параметров распознавания: порог уверенности модели и ожидаемое количество объектов</p>
    <p><strong>11. User Management System</strong> - система управления сотрудниками с индивидуальной аутентификацией и правами доступа</p>
    <p><strong>12. User Activity Dashboard</strong> - система отслеживания действий сотрудников с фильтрацией по пользователям и детализацией всех загруженных изображений</p>
</article>
</div>
{% endblock %}
