<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h2>Технологии, реализованные  в проекте</h2>
  <article class="col-12 col-md-9">
    <p><strong>1. Бэкенд на Джанго</strong> - полноценный сервер на Django с ORM, админкой и системой аутентификации</p>
    <p><strong>2. Фронтенд на Django Template</strong> - серверный рендеринг страниц с использованием Django Template Language (стили: CSS, Bootstrap)</p>
    <p><strong>3. API на Django REST Framework</strong> - RESTful API с вьюсетами и аутентификацией по токену</p>
    <p><strong>4. Base64 Encoding для изображений</strong> - кодирование бинарных данных изображений в текстовый формат для передачи через API</p>
    <p><strong>5. Реализация автоматической передачи данных по API между 2мя серверами</strong> - система межсерверного взаимодействия с аутентификацией через "rest_framework authtoken" и передачей данных в формате JSON</p>
    <p><strong>6. Реализация системы автоматической документации API</strong> - генерация интерактивной документации через Swagger/OpenAPI (drf-yasg)</p>
    <p><strong>7. Реализация системы контейнеризации Docker</strong> - упаковка приложения в Docker-контейнеры для изолированного запуска и деплоя</p>
    <p><strong>8. Реализация мониторинга работы сайта</strong> - отладка и оптимизация через Django Debug Toolbar</p>
  </article>
</div>
{% endblock %}
